// muicss
@import "~muicss/lib/sass/mui-colors";
// define colors here
@import "~muicss/lib/sass/mui";


/**
 * Sidebar CSS
 */

#sidebar {
  background-color: mui-color('blue-grey', '800');
  padding: 15px;
}

@media (min-width: 768px) {
  #sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 180px;
    height: 100%;
    padding-top: 30px;
  }
}

/**
 * Content CSS
 */
@media (min-width: 768px) {
  #content {
    margin-left: 180px;
  }
}
